body {
  background-color: #fafbff;
}

h1 {
  background-image: url(images/wallpaper.jpg);
  text-align: center;
  padding: 90px;
}
h2 {
  text-align: center;
  padding-top: 100px;
  font-family: "Playfair Display", serif;
}
img {
  border-radius: 2px;
}

#gallery .img-fluid {
  box-shadow: 1px 1px 5px #a45244;
  transition: transform 0.2s ease;
}
#gallery .img-fluid:hover {
  transform: scale(1.4);
}
#about {
  background-color: #d66b57;
  color: #f4f4f4;
  border-radius: 3px;
}

#gallery {
  background-color: #d66b57;
  color: #f4f4f4;
}
.gallery {
  font-size: 50px;
}
.primary-link {
  background-color: #f4f4f4;
  color: #d66b57;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 2px 2px 9px rgb(178, 88, 50);
}
.primary-link:hover {
  color: orangered;
}

.carousel {
  display: flex;
  overflow: hidden;
  width: 500px;
  height: 300px;
}
.carousel video {
  min-width: 100%;
  transition: transform 0.5s ease;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.videoCarousel {
  background-color: #f1ebdf;
  padding-bottom: 40px;
  padding-top: 40px;
}
i {
  color: #cf6651;
  border-radius: 13px;
  background-color: #f8f9fa;
  font-size: 70px;
  text-align: center;
  transition: transform 0.5s ease-in;
}
.contactMe {
  text-align: center;
}

#contactMe {
  background-color: #f8f9fa;
}

i:hover {
  background-color: #cf6651;
  color: #f8f9fa;
}

.github {
  text-decoration: none;
  color: rgba(48, 48, 48, 0.577);
}
.github:hover {
  color: rgb(29, 29, 29);
}
large {
  font-size: 40px;
  color: #cf6651;
}

#index footer {
  text-align: center;
  background-color: #f1ebdf;
  color: #b2ada3;
  font-family: "Playfair Display", serif;
}

footer {
  text-align: center;
  font-family: "Playfair Display", serif;
  opacity: 60%;
}
